<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>single album</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
    <div id="big-container">
        <div id="album-container">
            <h3>Album title</h3>
            <p th:text="${album.title}"></p>
            <h3>Artist</h3>
            <p th:text="${album.artist}"></p>
            <img th:src="${album.imageUrl}" alt="album image" id="album-img"/>
        </div>
        <div id="songs-sontainer">
            <h3>Songs</h3>
            <table id="table">
                <tr>
                    <th>trackNumber</th>
                    <th>title</th>
                    <th>length</th>
                </tr>
                <tr th:each="song: ${album.songs}">
                    <td th:text="${song.trackNumber}"></td>
                    <td th:text="${song.title}"></td>
                    <td th:text="${song.lengthInSec}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>